<ul class="BreadcrumbsDropdown-list CDB-Text CDB-Size-medium">
  <li class="BreadcrumbsDropdown-listItem">
<<<<<<< HEAD
    <nav class="BreadcrumbsDropdown-options">
      <a href="<%- mapsUrl %>" class="BreadcrumbsDropdown-optionsItem <%- isMaps && !isDeepInsights && !isLocked ? 'is-selected' : '' %>">Maps</a>
      <a href="<%- datasetsUrl %>" class="BreadcrumbsDropdown-optionsItem has-margin <%- isDatasets && !isLocked ? 'is-selected' : '' %>">Datasets</a>
      <% if (isDeepInsightsEnabled) { %>
        <a href="<%- deepInsightsUrl %>" class="BreadcrumbsDropdown-optionsItem has-margin <%- isDeepInsights ? 'is-selected' : '' %>">Deep insights</a>
      <% } %>
    </nav>
  </li>
  <li class="BreadcrumbsDropdown-listItem is-dark">
=======
    <span class="BreadcrumbsDropdown-icon u-rSpace--xl">
      <img class="UserAvatar-img UserAvatar-img--small" src="<%- avatarUrl %>" title="<%- userName %>" alt="<%- userName %>" />
    </span>
    <nav class="BreadcrumbsDropdown-options">
      <a href="<%- mapsUrl %>" class="BreadcrumbsDropdown-optionsItem <%- isMaps && !isDeepInsights && !isLocked ? 'is-selected' : '' %>">Your maps</a>
      <a href="<%- datasetsUrl %>" class="BreadcrumbsDropdown-optionsItem has-margin <%- isDatasets && !isLocked ? 'is-selected' : '' %>">Your datasets</a>
    </nav>
  </li>
  <li class="BreadcrumbsDropdown-listItem is-dark u-flex">
    <i class="CDB-IconFont CDB-IconFont-lock BreadcrumbsDropdown-lockIcon BreadcrumbsDropdown-icon u-flex u-alignCenter u-justifyCenter u-rSpace--xl"></i>
>>>>>>> cartodb/bbg-0.0.1
    <nav class="BreadcrumbsDropdown-options">
      <a href="<%- lockedMapsUrl %>" class="BreadcrumbsDropdown-optionsItem <%- isMaps && isLocked ? 'is-selected' : '' %>">Locked maps</a>
      <a href="<%- lockedDatasetsUrl %>" class="BreadcrumbsDropdown-optionsItem has-margin <%- isDatasets && isLocked ? 'is-selected' : '' %>">Locked datasets</a>
    </nav>
  </li>
</ul>
